:root{
    --text-color: #26d369;
    --background-color: #020c06 ;
    --line-color: #74747469;
    --glow-color: #32bd7e3a;
    --background-glow-width: 50vmin;
    --background-glow-height: 25vmin;
}

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1.8rem;
    font-family: 'VT323', monospace;
    color: var(--text-color);
}

body{
    height: 100vh;
    position: relative;
    background-color: var(--background-color);
    overflow: hidden;
}


.background{
    margin:0 auto;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.line{
    height: 17vmin;
    width: 100%;
    background-color: var(--line-color);
    background: linear-gradient(transparent, 40%, var(--line-color));
    z-index: 0;
    opacity: 0.4;
}


.scan-line{    
    animation: line 5.5s infinite;
}

@keyframes line {
    0%{
        transform: translateY(-20%);
    }
    100%{
        transform: translateY(100%);
    }
}
.background-images{
    position: relative;
    width: 100%;
    height: 100%;
}

#noise-gif{
    z-index: -1;
    opacity: 0.03;
}

.backround-image, .scan-line{
    position: absolute;
    width: 100%;
    height: 100%;
}

main{
    position: absolute;
    width: 100%;
    height: 100%;
}

.game-header{
    display: flex;
    justify-content: space-between;
}

.button{
    background-color: bisque;
    width: 5rem;
    height: 2rem;
    font-size: 2rem;
}

.game-analytics{
    color: var(--text-color);
    display: flex;
    background-color: aliceblue;
    gap:1rem;
}

#game-wrapper{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    align-items: center;
    border: 3px solid rgb(0, 255, 34);
}

#grid{
    display: grid;
    margin: 0 auto;
    position: relative;
}

#grid:before{
    z-index: -1;
    content: '';
    position: absolute;
    width: var(--background-glow-width);
    height: var(--background-glow-height);
    border-radius: 50%;
    left: calc(50% - var(--background-glow-width)/2);
    top: calc(50% - var(--background-glow-height)/2);
    box-shadow: 0 0 80vmin 80vmin var(--glow-color);
}


.cell{
    background-color: aquamarine;
    border: 1px solid rgb(160, 160, 160);
}

.snake-node{
    position: absolute;
    background-color: rgb(53, 53, 53);
    border: 1px solid rgb(160, 160, 160);
}

#food{
    position: absolute;
    background-color: red;
}
